header{
	position: fixed;
	background-color:#ffb0b6;
	text-align: center;
	width: 100%;
	height: 20%;
	z-index: 10;
}

#logo {
	width: 80px;
	height: 80px;
	position: relative;
}

 a{
	position: relative;
	width: 100%;
	height: 15%;
	font-family: pacifico;
	font-size: 150%;
	color:#a9314a;
	padding : 20px;
}

h1 {
	margin: auto;
	font-family: pacifico;
	text-align: center;
	color: black;
	z-index: 10;
}

h2{
	font-family: open sans;
}

h3{
	font-family: open sans;
}


p{
	font-family: open sans;
}


#article1{
	width: 100%;
	background-color: #a9314a;
}

#contenu1{
	margin-left: 80px;
	margin-right: 80px;
	height: 1050px;
}

#photo_ici_et_maintenant{
	margin-top: 250px;
	width: 200px;
	float: left;
	padding: 20px;
}

#texte_ici_et_maintenant{
	margin-right: 50px;
	padding-top: 250px;
	margin-left: 20px;
}

#article2{
	background-color: #e6855b;
}

#contenu2{
	margin-left: 80px;
	margin-right: 80px;
	height: 820px;
}

#photo_lamour_dur_plus_quune_vie{
	margin-top: 70px;
	width: 200px;
	float: left;
	padding: 20px;
}

#texte_lamour_dur_plus_quune_vie{
	margin-right: 50px;
	padding-top: 70px;
	margin-left: 20px;
}